/* primary-text-color  #303030  */
/* text-white-color #ffffff */
/* secondary-text-color #9DA4BD */
/* text color #555555 */
/*  acent-color #FF6C00*/
/* bg-white-color: #FFFFFF */
/* bg-color: #191C26 */
/* bg-secondary-color: #F7F7F7 */
:root {
    --primary-text-color: #303030;
    --text-white-color: #ffffff;
    --secondary-text-color: #9DA4BD;
    --text-color: #555555;
    --acent-color: #FF6C00;
    --color-rgba: rgba(157, 164, 189, 0.6);
    --bg-white-color: #FFFFFF;
    --bg-color: #191C26;
    --bg-secondary-color: #F7F7F7;
}
body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--bg-color); 
}
h1,
h2,
h3,
h4,
p,
ul {
    margin: 0;
    padding: 0;
}
.container {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 15px;
}
.section {
    padding-top: 120px;
    padding-bottom: 120px;
}
/* header */
.header {
    margin-top: 32px;
}
.head {
    display: flex;
    align-items: center;
}
.nav {
    display: flex;
    align-items: center;
    margin-right: auto;
}
.logo {
    margin-right: 70px;
}
.header-list {
    display: flex;
}
.list-item {
    gap: 30px;
    
}

.list {
    list-style-type: none;
}
.list-link {
    color: var(--text-white-color);
    padding-top: 52px;
    padding-bottom: 52px;
    gap: 30px;

    font-weight: 600;
    font-size: 12px;
    line-height: calc(16 / 12);
    letter-spacing: 0.1em;
    text-decoration: none;

}
.list-link:hover,
.list-link:focus,
.link:hover,
.link:focus,
.logo:focus {
    color: var(--acent-color);
}
.link {
    color: var(--text-white-color);
    padding-top: 52px;
    padding-bottom: 52px;

    text-decoration: none;
    font-weight: 600;
    font-size: 12px;
    line-height: calc(16 / 12);
    letter-spacing: 0.1em;
}
.link-tel {
    margin-right: 45px;
}
.btn {
    color: var(--text-white-color);
    background-color: transparent;
    cursor: pointer;

    font-family: inherit;
    font-weight: 600;
    font-size: 12px;
    line-height: calc(16 / 12);
    letter-spacing: 0.09em;
    text-transform: uppercase;

    padding: 12px 20px;
    border: 1px solid var(--acent-color);
    border-radius: 25px;
}

/* hero */
.hero {
    background-color: var(--bg-color);
}
.social-link {
    color: var(--primary-text-color);

    font-weight: 600;
    font-size: 11px;
    line-height: calc(15 / 11);
    letter-spacing: 0.2em;
    text-decoration: none;
    transform: rotate(-90deg);
}
.social-link:hover,
.social-link:focus {
    color: var(--acent-color);
}
.under-title {
    color: var(--color-rgba);

    font-weight: 600;
    font-size: 11px;
    line-height: calc(15/11);
    letter-spacing: 0.1em;
    text-transform: uppercase;

    margin-bottom: 20px;
}
.hero-title {
    color: var(--text-white-color);

    font-family: 'Raleway', sans-serif;
    font-size: 72px;
    line-height: calc(85 / 72);
    letter-spacing: 0.05em;

    margin-bottom: 20px;
}
.sub-title {
    color: var(--secondary-text-color);

    font-size: 18px;
    line-height: calc(30 / 18);
    letter-spacing: 0.02em;

    width: 360px;
}
.slider-btn {
    color: var(--color-rgba);
    background-color: transparent;

    font-family: inherit;
    font-weight: 600;
    font-size: 11px;
    line-height: calc(15 / 11);
    text-align: right;
    letter-spacing: 0.1em;
}
.slider-btn.active {
    color: var(--text-white-color);
}
.about-btn {
    color: var(--primary-text-color);
}
.under-title {
    color: var(--primary-text-color);

    font-weight: 600;
    font-size: 11px;
    line-height: calc(15 / 11);
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
.title {
    color: var(--primary-text-color);

    font-family: 'Raleway';
    font-weight: 700;
    font-size: 42px;
    line-height: calc(49 / 42);
    letter-spacing: 0.05em;
}
.sub-title {
    color: var(--text-color);

    font-weight: 400;
    font-size: 18px;
    line-height: calc(30 / 18);
    letter-spacing: 0.02em;
}
.text {
    color: var(--text-color);
}
.desc {
    color: var(--text-color);

    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.02em;
}
.inscription {
    color: var(--color-rgba);
}
/* Price */
.price {
    background-color: var(--bg-color);
}
.price-title {
    color: var(--text-white-color);
}
.inner-list {
    color: var(--secondary-text-color);

    ont-size: 18px;
    line-height: 30px;
    letter-spacing: 0.02em;
}
/* }Benefits */
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.quantity {
    color: var(--primary-text-color);

    font-weight: 700;
    font-size: 42px;
    line-height: calc(57 / 42);
    letter-spacing: 0.05em;
}
.desc-benefits {
    font-weight: 600;
    font-size: 11px;
    line-height: calc(15 / 11);
}
/* Barbers */
.barber-section {
    background-color: var(--bg-secondary-color);
}
.team-name {
    color: var(--primary-text-color);

    font-size: 18px;
    line-height: calc(25 / 18);
    letter-spacing: 0.02em;
}
.team-position {
    color: var(--acent-color);

    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.02em;
}
/* Gallery */

/* Booking & contacts */
.book {
    background-color: var(--bg-color);
}
.booking-title {
    color: var(--text-white-color);
}
.contact-title {
    color: var(--text-white-color);
}
.address-link {
    color: var(--secondary-text-color);

    font-family: 'Open Sans';
    font-style: normal;
    font-size: 18px;
    line-height: calc(30 / 18);
    letter-spacing: 0.02em;
}
.work-title {
    color: var(--text-white-color);
}
.contacts-schelude {
    color: var(--secondary-text-color);

    font-size: 18px;
    line-height: calc(30 / 18);
    letter-spacing: 0.02em;
}
.footer-copi {
    color: var(--secondary-text-color);

    font-weight: 600;
    font-size: 11px;
    line-height: calc(15 / 11);
    letter-spacing: 0.2em;
}